@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Raleway", sans-serif;
    }
}

@layer utilities {
    .clip-path-hero {
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
    .clip-path-article {
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    }
    .clip-path-article-sm {
        clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0% 100%);
    }
    .displayed {
        opacity: 1;
    }
    .current-testimonial {
        opacity: 1;
    }
    .current-testimonial-text {
        opacity: 1;
    }
}

@layer components {
    .navbar-original {
        @apply bg-transparent;
    }
    .navbar-scroll {
        @apply bg-gray-950;
    }
    .topbar-links {
        @apply px-[5px] py-[4px] text-[14px] rounded-md bg-gray-100 text-gray-950;
    }
    .nav-links {
        @apply text-white uppercase text-pbase px-5 py-3 bg-transparent hover:bg-gray-500;
    }
    .slider-class {
        @apply w-full h-full overflow-hidden absolute top-0 left-0 bg-cover bg-center bg-no-repeat opacity-0 transition duration-500 ease-in;
    }
    .no-content {
        @apply opacity-0 -translate-x-[100%];
    }
    .project-links {
        @apply w-full md:max-w-sm p-6 bg-white border border-gray-700 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:shadow-xl  transition duration-[0.8s];
    }
    .testimonial-appear {
        @apply opacity-100;
    }
}
